html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
* {
  font-family: sans-serif;
}
body {
  line-height: 1.28;
  text-align: left;
  color: #333333;
  font-size: 11px;
  font-family: sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: #3A5795;
  float: top;
  width: 100%;
  border-bottom: 1px solid #1B316C;
  height: 90px;
}

.main {
  background-color: #EDF0F5;
  border-top: 1px solid #B9BABB;
}

#logo {
  color: white;
  display: inline;
  font-size: 3.7em;
  font-family: sans-serif;
  font-weight: 900;
  position: absolute;
  top: 27px;
  left: 150px;
}

.login {
  display: inline;
  position: absolute;
  top: 30px;
  left: 770px;
}

#p1 {
  color: white;
  position: absolute;
  top: 10px;
  left: 770px;
  display: inline;
}

#p2 {
  color: white;
  position: absolute;
  top: 10px;
  left: 960px;
  display: inline;
}

#login_bar {
  margin-right: 16px;
}

.keep_logged {
  color: white;
}

img {
  width: 800px;
  height: 400px;
}

aside {
  float: right;
  background-color: #EDF0F5;
  width: 50%;
  height: 700px;
}

#right_title {
  font-size: 2.8em;
}

.gender {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gender2 {
  display: inline;
}

.left_panel {
  float: left;
  background-color: #EDF0F5;
  width: 50%;
  height: 700px;
}

#left_title {
  font-size: 2.6em;
  position: absolute;
  top: 160px;
  left: 150px;
}

.left_icons {
  position: absolute;
  top: 290px;
  left: 150px;
}

h1, h2 {
  font-weight: bold;
}

footer {
  clear: both;
}

strong {
  font-weight: bold;
}

#bday {
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 4px;
}

.form_stretch {
  width: 400px;
  height: 35px;
  border-radius: 5px;
  border-top: 13px;
  border: 1px solid #bdc7d8;
  font-size: 2em;
  color: #bdc7d8;
  padding-left: 5px;
}

.form_pull {
  height: 35px;
  width: 190px;
  border-right: 18px;
  border-radius: 5px;
  border-top: 20px;
  border: 1px solid #bdc7d8;
  font-size: 2em;
  color: #bdc7d8;
  padding-left: 5px;
}

td {
  width: 200px;
  height: 50px;
}

#free {
  border-bottom: 10px;
  font-size: 1.8em;
}

a {
  display: inline;
  text-decoration: none;
}

a:hover {
  text-transform: underline;
}

#white_link {
  color: white;

}

.links {
  float: center;
}

#inline_link {
  position: absolute;
  top: 405px;
  left: 890px;
}

select {
  display: inline;
  margin-right: -3px;
  border: 1px solid #BDC7D8;
  height: 30px;
  width: 74px;
  padding-left: 8px;
  margin-bottom: 5px;
}

/*  height: 40px;
  width: 200px;
  background-color: #68A253;
  border-radius: 5px;
  font-size: 2em;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}*/
.button_example {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 23px;
  width: 200px;
  border:1px solid #4e7a3f; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:lucida sans unicode, lucida grande, sans-serif; text-align: center; padding: auto; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #669F52; background-image: -webkit-gradient(linear, left top, left bottom, from(#669F52), to(#5A8D46));
  background-image: -webkit-linear-gradient(top, #669F52, #5A8D46);
  background-image: -moz-linear-gradient(top, #669F52, #5A8D46);
  background-image: -ms-linear-gradient(top, #669F52, #5A8D46);
  background-image: -o-linear-gradient(top, #669F52, #5A8D46);
  background-image: linear-gradient(to bottom, #669F52, #5A8D46);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#669F52, endColorstr=#5A8D46);
}

.button_example:hover {
  border:1px solid #3b5c2f;
  background-color: #507d41; background-image: -webkit-gradient(linear, left top, left bottom, from(#507d41), to(#446b35));
  background-image: -webkit-linear-gradient(top, #507d41, #446b35);
  background-image: -moz-linear-gradient(top, #507d41, #446b35);
  background-image: -ms-linear-gradient(top, #507d41, #446b35);
  background-image: -o-linear-gradient(top, #507d41, #446b35);
  background-image: linear-gradient(to bottom, #507d41, #446b35);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#507d41, endColorstr=#446b35);
}

div td p {
  font-size: 1.5em;
}

.big_td {
  margin-left: 0;
  width: 400px;
  text-align: center;
}

.icon_td {
  margin-right: 0;
  width: 60px;
  padding-top: 10px;
}
    body{
  background-image: url("grid.png");
  height:750px;

}
.fb-header-base{
  width:100%;
  height:90px;
  position:absolute;
  top:0;
  left:0;
  color:white;
  z-index:7;
  font-family:verdana;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.fb-header{
  width:100%;
  height:90px;
  position:absolute;
  background:#3d5b99;
  top:0;
  left:0;
  color:white;
  z-index:7;
  font-family:verdana;

}
#img1{
  left:178px;
  height:50px;
  width:100px;
  top:25px;
}
#form1{
  left:750px;
  height:60px;
  width:130px;
  top:20px;
  font-family:verdana;
  font-size:12px;
}
#form2{
  left:940px;
  height:60px;
  width:250px;
  top:20px;
  font-family:verdana;
  font-size:12px;
}
.submit1{
  left:945px;
  top:35px;
  background:#5b7bc0;
  color:white;
  /*position:fixed;*/
  z-index:20;
  height:22px;
  width:50px;
  cursor:pointer;



}
.fb-body{
  position:absolute;
  top:90px;
  width:100%;
  height:645px;


}
#intro1{
  left:178px;
  top:20px;
  font-family:verdana;
  font-size:20px;
  color:#142170;
  height:75px;
  width:550px;
}
#intro2{
  left:750px;
  top:20px;
  font-family:verdana;
  font-size:30px;
  color:#000;
  font-weight:bold;
  height:75px;
  width:500px;
}
#img2{
  top:130px;
  left:178px;
  width:537px;
  height:195px;
}
#intro3{
  left:750px;
  top:70px;
  font-family:verdana;
  font-size:18px;
  color:#000;
  height:50px;
  width:300px;
}

#form3{

  top:100px;
  font-family:verdana;
  font-size:20px;
  color:#142170;
  width:450px;
  height:495px;

}
#namebox{
  width:200px;
  height:40px;
  border-radius:5px 5px 5px 5px;
  background:white;
  padding:10px;
  font-size:18px;
  margin-top:8px;
  border-width: 1px;
  border-style:solid;
  border-color: gray;
}
#mailbox{
  width:408px;
  height:40px;
  border-radius:5px 5px 5px 5px;
  background:white;
  padding:10px;
  font-size:18px;
  margin-top:8px;
  border-width: 1px;
  border-style:solid;
  border-color: gray;
}
#r-b{
  font-size:12px;
  height:15px;
  width:15px;
}
.button2{
  width:250px;
  height:40px;
  left:750px;
  top:625px;
  background:green;
  font-family:verdana;
  font-size:18px;
  color:white;
  border-radius:5px 5px 5px 5px;
  border-width: 1px;
  border-style:solid;
  border-color: gray;
  cursor:pointer;
  outline:none;

}
#intro4{
  font-family:verdana;
  font-size:12px;
  color:gray;

}
#intro5{
  font-family:verdana;
  font-size:14px;
  color:gray;

}

