<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

</head>
<body>
<table class="table">
    <thead>
    <tr>

        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>

    </tr>
    </thead>
    <tbody>
    {% for profile in profiles %}
    <tr>
        <td>{{profile.user.username}}</td>
        <td>{{profile.last_name}}</td>
        <td>{{profile.dob}}</td>
        <td>{{profile.user.email}}</td>
        <td>{{profile.gender}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>

        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>


    </tr>
    </thead>
    <tbody>
    {% for profile in profiles1 %}
    <tr>
        <td>{{profile.user.username}}</td>
        <td>{{profile.last_name}}</td>
        <td>{{profile.dob}}</td>
        <td>{{profile.user.email}}</td>
        <td>{{profile.gender}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>


<table class="table">
    <thead>
    <tr>

        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>

    </tr>
    </thead>
    <tbody>
    {% for profile in profiles2 %}
    <tr>
        <td>{{profile.user.username}}</td>
        <td>{{profile.last_name}}</td>
        <td>{{profile.dob}}</td>
        <td>{{profile.user.email}}</td>
        <td>{{profile.gender}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>

        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>

    </tr>
    </thead>
    <tbody>
    {% for profile in profile3 %}
    <tr>
        <td>{{profile.user.username}}</td>
        <td>{{profile.last_name}}</td>
        <td>{{profile.dob}}</td>
        <td>{{profile.user.email}}</td>
        <td>{{profile.gender}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>

        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>

    </tr>
    </thead>
    <tbody>
    {% for profile in profile4 %}
    <tr>
        <td>{{profile.user.username}}</td>
        <td>{{profile.last_name}}</td>
        <td>{{profile.dob}}</td>
        <td>{{profile.user.email}}</td>
        <td>{{profile.gender}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>