<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>DFID</title>
</head>
<body>
<form action="" method="post">
     {% csrf_token %}

    <label for="province_name">Province_name:</label>
    <input type="text" name="province_name" required>


    <label for="minister_name">Minister_name: <input type="text" name="minister_name" required>
    </label>


    <label for="capital">Capital_Name: <input type="text" name="capital" required>
    </label>

    <label for="districts">No.Of_Districts: <input type="text" name="districts" >
    </label>


    <input type="submit" value="submit"/>


</form>

</table>
</body>
