{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/main.css' %}">
<html>

	<title>Facebook-Log In or Signing</title>
	<head>
		<link type="text/css" rel="stylesheet" href="style.css" />
		<link type="text/css" rel="stylesheet" href="fb.css" />


		<meta name="Description" content="Facebook Style Homepage Design with Login Form registration for using html and CSS"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


	</head>

	<body>
		<header>
      <div><p id="p1" style="left: 627px;" >Email or Phone</p><p id="p2" style="left: 857px;">Password</p></div>

      <form  method="post" action="{% url 'dashboard' %}" class="login" style="width: 571px; left: 625px;">
            {% csrf_token %}
        <input placeholder="User Name" type="text" name="username" id="login_bar">
        <input placeholder="Password" type="password" name="password" id="login_bar">
        <input type="submit" value="Log in" id="login_bar">
        <br/>
        <div><p id="p1" style="margin-bottom: 0px; padding-top: 22px;left: 230px;">Forgot Your Password ?</p></div>

      </form>
    </header>

		<div class="fb-body" style="top: 60px">
			<div id="" class="fb-body" style="top: 30px" ><div id="intro1" class="fb-body" style="left: 50px; padding-top: 35px; left: 100px">Facebook helps you connect and share with the <br>
			people in your life.</div>
			<div id="intro2" class="fb-body">Sign Up</div>
			<div id="img2" class="fb-body"><img src="https://static.xx.fbcdn.net/rsrc.php/v3/yn/r/099etSefEv-.png" style="padding-left: -45px;margin-left: -160px; "></div>
			<div id="intro3" class="fb-body">It's free and always will be.
			<div id="form3" class="fb-body" style="left:0px" >
                <form method="post" action="{% url 'facebook' %}">
                     {% csrf_token %}
				<input placeholder="First Name" type="text" id="namebox" name="first_name" for />
				<input placeholder="Last Name" type="text" id="namebox" name="last_name" /> <br>
				<input placeholder="Emai" type="text" id="mailbox" name="email"/><br>
				<input placeholder="Password" type="password" id="mailbox" name="password" /><br>
				<input placeholder="year-month-day" type="text" id="namebox" name="date" /><br><br>
				<div>

                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="gender" value="Male">Male
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="gender" value="Female">Female
                            </label>
                        </div>

                </div>
				<p id="intro4">By clicking Sign Up, you agree to our Terms, Data Policy and Cookies Policy. You may receive SMS Notifications from us and can opt out any time.</p>
				<input type="submit" class="button2" value="Sign Up" />
				<br><hr>
                </form>
				<p id="intro5">Create a Page for a celebrity, band or business.</p>
            </div>
            </div>

		<footer style="margin-top: 650px; margin-left: 100px; margin-right: 155px">
    <div class="links"  style="margin-left: 5px">
      <a class = "space" href="#">English (US)</a>
      <a class = "space" href="#"> नेपाली</a><!--
      <a class = "space" class = "space" href="#"> हिन्दी</a> -->
      <a class = "space" href="#">Español</a>
      <a class = "space" href="#">Português (Brasil)</a>
      <a class = "space" href="#">日本語</a>
      <a class = "space" href="#">Français (France)</a>
      <a class = "space" href="#">Deutsch</a>
      <a class = "space" href="#">Italiano</a>
      <a class = "space" href="">中文(简体)</a>
      <hr/>
      <a class = "space" href="#">Sign Up</a>
      <a class = "space" href="#">Sign Up</a>
      <a class = "space" href="#">Sign Up</a>
      <a class = "space" href="#">Log In</a>
      <a class = "space" href="#">Messenger</a>
      <a class = "space" href="#">Facebook Lite</a>
      <a class = "space" href="#">Mobile</a>
      <a class = "space" href="#">Find Friends</a>
      <a class = "space" href="#">People</a>
      <a class = "space" href="#">Profiles</a>
      <a class = "space" href="#">Pages</a>
      <a class = "space" href="#">PageCategories</a>
      <a class = "space" href="#">Places</a>
     <!--  <a class = "space" href="#">Games</a> -->
      <a class = "space" href="#">Location</a>
      <br/>
      <a class = "space" href="#">Marketplace</a>
      <a class = "space" href="#">Groups</a>
      <a class = "space" href="#">Instagram</a>
      <a class = "space" href="#">Local</a>
      <a class = "space" href="#">Fundraisers</a>
      <a class = "space" href="#">About</a>
      <a class = "space" href="#">Create Ad</a>
      <a class = "space" href="#">Create Page</a>
      <a class = "space" href="#">Developers</a>
      <a class = "space" href="#">Careers</a>
      <a class = "space" href="#">Privacy</a>
      <a class = "space" href="#">Cookies</a>
      <a class = "space" href="#">Ad Choices</a>
      <a class = "space" href="#">terms</a>
      <br/>
      <a class = "space" href="#">Account Securit</a>
      <a class = "space" href="#">Account Securit</a>
      <a class = "space" href="#">Login help</a>
      <a class = "space" href="#">help</a>
      <a class = "space" href="#">Terms</a>
      <a class = "space" href="#">Help</a>
      <br/>
      <br/>
      <p>Facebook &copy; 2019 </p>
    </div>
    </footer>
	</body>

</html>



